body {
	font-family: "宋体", Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(../Images/new_b1g.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #D5EEEA;
}
#content_bg {
	background-color: #FFF;
	height:auto;
	min-height: 500px!important;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #A3DAD1;
	border-right-color: #B5E1DA;
	border-bottom-color: #B5E1DA;
	border-left-color: #A3DAD1;
	background-image: url(../Images/dp_head.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#content {
	background-color: #FFF;
	height:auto;
	min-height: 500px!important;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}


/*----head---style---start--*/
#index_head {
	height: 130px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	z-index: 1;
}
.ad_head {
	height: 70px;
	width: 100%;
/*	background-image: url(../Images/ad_head.jpg);
	background-repeat: no-repeat;*/
}
#key {
	height: 22px;
	width: 300px;
	border: 1px solid #B7D07B;
	color: #999;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	line-height: 22px;
}
#head_city {
	position:absolute;
	width:118px;
	height:51px;
	z-index:1;
	left: 110px;
	top: 28px;
}
#head_nv {
	position:absolute;
	width:640px;
	height:25px;
	z-index:1;
	left: 248px;
	top: 59px;
	font-size: 14px;
}
#head_logo{
	position:absolute;
	width:100px;
	height:60px;
	z-index:1;
	left: 5px;
	top: 18px;
	font-size: 14px;
}
#head_log{
	position:absolute;
	height:23px;
	z-index:1;
	right: 3px;
	top: 8px;
}
#head_search{
	position:absolute;
	height:30px;
	z-index:1;
	left: 29px;
	top: 94px;
	width: 814px;
}
/*----head---style---start--*/

.height_10px {
	height: 10px;
	width: 100%;	
	overflow:hidden;
}
.height_15px {
	height: 15px;
	width: 100%;	
	overflow:hidden;
}
.heigth_10px {
	height: 10px;
	width: 100%;	
}
.height_30px {
	height: 30px;
	width: 100%;
}
.height_bian_30px {
	min-height: 40px;
	height:auto;
	width: 625px;
	margin-left: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #dbdbdb;
	border-right-color: #dbdbdb;
	border-bottom-color: #dbdbdb;
	border-left-color: #dbdbdb;
	line-height: 40px;
}
.height_nobian_30px {
	min-height: 40px;
	height:auto;
	width: 625px;
	margin-left: 10px;
	line-height: 40px;
}
.height_auto_dianbian {
	min-height: 130px;
	height:auto;
	width: 615px;
	margin-left: 15px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #dbdbdb;
	border-right-color: #dbdbdb;
	border-bottom-color: #dbdbdb;
	border-left-color: #dbdbdb;
}
.height_lineheight_20px {
	height: 20px;
	line-height:20px;
	width: 100%;
}
.height_lineheight_30px {
	min-height:30px;
	height: auto;
	line-height:30px;
	width: 100%;
}
.height_lineheight_30px_right {
	height: 30px;
	line-height:30px;
	width: 100%;
	text-align:right;
}
.width_30px_space{
	height: 20px;
	width: 30px;
	float: left;
}

.width_20px_space{
	height: 20px;
	width: 20px;
	float: left;
}

.width_10px_space{
	height: 20px;
	width: 10px;
	float: left;
}
.widthspace_10px {
	float: left;
	height: 60px;
	width: 9px;
}
.block_title {
	height: 30px;
	width: 100%;
	background-image: url(../Images/block_title_bg.png);
	background-repeat: repeat-x;
	line-height: 27px;
	position: relative;
}
.height_50px_4bian {
	margin: 0 auto;
	height: 70px;
	width: 958px;
	border: 1px solid #e3e3e3;
}
.bian_4gray_1px {
	min-height:100px!important;
	height: auto;
	width: 100%;
	border: 1px solid #d9d9d9;
}
.bian_4gray_qian1px {
	min-height:770px!important;
	height: auto;
	width: 100%;
	border: 1px solid #F2F2F2;
}
.bian_4grays_1px {
	min-height:100px!important;
	height: auto;
	width: 100%;
	border: 1px solid #bdbdbd;
}
.bian_1bgrays_1px {
	min-height:100px!important;
	height: auto;
	width: 100%;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #bdbdbd;
	border-right-color: #bdbdbd;
	border-bottom-color: #bdbdbd;
	border-left-color: #bdbdbd;
}
.float_left {
	float: left;
}
.widthspace_13px {
	float: left;
	height: 100px;
	width: 10px;
}
/*--right-left ---pane---style---start----*/
.content_inc {
	min-height: 500px!important;
	height:auto;
	width: 960px;
}
.con_left_center_nbg {
	float: left;
	height: auto;
	min-height: 100px!important;
	width: 648px;
}
.con_right_bg3 {
	height:auto;
	min-height: 500px!important;
	width: 300px;
	float: left;
}
.de_ad_270px {
	height: 150px;
	width: 270px;
}
.height_80px_100px {
	float: left;
	height: 80px;
	width: 100px;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
}
.height_90px_fixed {
	height: 90px;
	width: 100%;
}
.width_170_float {
	float: left;
	height: auto;
	width: 170px;
}
.left_bottom_bian1px {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dbdbdb;
	border-right-color: #dbdbdb;
	border-bottom-color: #dbdbdb;
	border-left-color: #dbdbdb;
	background-image: url(../Images/de_title_bg.jpg);
	background-repeat: repeat-x;
	cursor: pointer;
}
.left_bottom_bian1pxm {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dbdbdb;
	border-right-color: #dbdbdb;
	border-bottom-color: #dbdbdb;
	border-left-color: #dbdbdb;
	cursor: pointer;
}
.bottom_bian1pxm {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dbdbdb;
	border-right-color: #dbdbdb;
	border-bottom-color: #dbdbdb;
	border-left-color: #dbdbdb;
	background-image: url(../Images/de_title_bg.jpg);
	cursor: pointer;
}
.bottom_bian1px {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dbdbdb;
	border-right-color: #dbdbdb;
	border-bottom-color: #dbdbdb;
	border-left-color: #dbdbdb;
	background-color: #FCFCFE;
	background-image: url(../Images/de_title_bg.jpg);
	background-repeat: repeat-x;
}
.num_style1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	background-color: #093;
	height: 16px;
	width: 20px;
	margin-left: 10px;
	line-height: 16px;
	text-align: center;
}
.num_style2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #999;
	height: 16px;
	width: 20px;
	margin-left: 10px;
	line-height: 16px;
	text-align: center;
	border: 1px solid #CCC;
}
.con_right_4bian268px {
	height:auto;
	min-height: 100px!important;
	width: 298px;
	padding: 0px;
	border: 1px solid #dbdbdb;
}
.list_12px {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 25px;
	list-style-type: square;
	line-height: 25px;
	font-size: 12px;
	color: #0f4f51;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.gray_bottom_bian1px {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #e3e3e3;
	border-right-color: #e3e3e3;
	border-bottom-color: #e3e3e3;
	border-left-color: #e3e3e3;
}

/*--right-left ---pane---style---start----*/
.blue_s{
	color: #0A95D8;
}

/*-------------link--style----start--*/
.blue_q_a{
	color: #0EACD3;
	text-decoration: none;
}
.blue_q_a a:link{
	color: #0EACD3;
	text-decoration: none;
}
.blue_q_a a:visited{

	color: #0EACD3;
	text-decoration: none;
}
.blue_q_a a:hover{
	color: #0EACD3;
	text-decoration: underline;
}
.blue_q_a a:active{

	color: #0EACD3;
	text-decoration: underline;
}
.blue_a{
	text-decoration: none;
}
.blue_a a:link{
	color: #006691;
	text-decoration: none;
}
.blue_a a:visited{

	color: #006691;
	text-decoration: none;
}
.blue_a a:hover{

	color: #39F;
}
.blue_a a:active{

	color: #39F;
}
.blue_bian_a{

}
.blue_bian_a a:link{

	color: #006691;
	text-decoration: underline;
}
.blue_bian_a a:visited{

	color: #006691;
	text-decoration: underline;	
}
.blue_bian_a a:hover{

	color: #39F;
}
.blue_bian_a a:active{

	color: #39F;
}
.red_a{

	font-size: 12px;
	color: #C30;
	text-decoration: none;
}
.red_a a:link{

	font-size: 12px;
	color: #C30;
	text-decoration: none;
}
.red_a a:visited{

	font-size: 12px;
	color: #C30;
	text-decoration: none;
}
.red_a a:hover{

	font-size: 12px;
	color: #F30;
}
.red_a a:active{

	font-size: 12px;
	color: #F30;
}
.white_a{

	color: #fff;
	text-decoration: none;
}
.white_a a:link{

	color: #fff;
	text-decoration: none;
}
.white_a a:visited{

	color: #fff;
	text-decoration: none;
}
.white_a a:hover{

	color: #FF9;
}
.white_a a:active{

	color: #FF9;
}
.white_bian_a{

	color: #fff;
	text-decoration: underline;
}
.white_bian_a a:link{

	color: #fff;
	text-decoration: underline;
}
.white_bian_a a:visited{

	color: #fff;
	text-decoration: underline;
}
.white_bian_a a:hover{

	color: #FF9;
}
.white_bian_a a:active{

	color: #FF9;
}
.black_a{

	color: #000;
}
.black_a a:link{

	color: #000;
	text-decoration: none;	
}
.black_a a:visited{

	color: #000;
	text-decoration: none;
}
.black_a a:hover{

	color: #900;
}
.black_a a:active{

	color: #900;
}
.black_bian_a{

	color: #000;
}
.black_bian_a a:link{

	color: #000;
	text-decoration: underline;	
}
.black_bian_a a:visited{

	color: #000;
	text-decoration: underline;
}
..black_bian_a a:hover{

	color: #900;
}
.black_bian_a a:active{

	color: #900;
}
.gray_font{
	color: #CCC;
}
.gray_a{

	color: #525252;
}
.gray_a a:link{

	color: #525252;
	text-decoration: none;	
}
.gray_a a:visited{

	color: #525252;
	text-decoration: none;
}
.gray_a a:hover{

	color: #900;
}
.gray_a a:active{

	color: #900;
}
.green_bian_a{

	color: #2f953a;
}
.green_bian_a a:link{

	color: #2f953a;
	text-decoration:underline;	
}
.green_bian_a a:visited{

	color: #2f953a;
	text-decoration: underline;
}
.green_bian_a a:hover{

	color: #46DE30;
}
.green_bian_a a:active{

	color: #46DE30;
}
.green_a{

	color: #2f953a;
}
.green_a a:link{

	color: #2f953a;
	text-decoration:none;	
}
.green_a a:visited{

	color: #2f953a;
	text-decoration: none;
}
.green_a a:hover{

	color: #46DE30;
}
.green_a a:active{

	color: #46DE30;
}
.ding_a_floatl{

	color: #0f4f51;
	text-decoration: none;
	float:left;
}
.ding_a{

	color: #0f4f51;
	text-decoration: none;
}
.ding_a a:link{

	color: #0f4f51;
	text-decoration: none;
}
.ding_a a:visited{

	color: #0f4f51;
	text-decoration: none;
}
.ding_a a:hover{

	color: #1FA4A7;
}
.ding_a a:active{

	color: #1FA4A7;
}

.ding1_bian_a{

	color: #aae6b3;
}
.ding1_bian_a a:link{

	color: #aae6b3;
}
.ding1_bian_a a:visited{

	color: #aae6b3;
}
.ding1_bian_a a:hover{

	color: #aae6b3;
}
.ding1_bian_a a:active{

	color: #aae6b3;
}
.ding_bian_a{

	color: #0f4f51;
}
.ding_bian_a a:link{

	color: #0f4f51;
}
.ding_bian_a a:visited{

	color: #0f4f51;
}
.ding_bian_a a:hover{

	color: #1FA4A7;
}
.ding_bian_a a:active{

	color: #1FA4A7;
}

/*-------------link--style----start--*/

/*-------------font--style----start--*/
.blue_16px_f {
	font-size: 16px;
	color: #006691;
}
.blue_14px_f {
	font-size: 14px;
	color: #006691;
}
.blue_14px_yahei {
	font-size: 14px;
	color: #0A95D8;
	font-family: "微软雅黑";
}
.blue_14px_black {
	font-size: 14px;
	color: #000;
	font-family: "微软雅黑";
}

.blue_12px_f {

	font-size: 12px;
	color: #006691;
}
.blue_24px_heif {
	font-family: "黑体";
	font-size: 18px;
	color: #006691;
	line-height: 30px;
}
.black_12px_f {

	font-size: 12px;
	color: #000;
}
.black_14px_f {

	font-size: 14px;
	color: #000;
}
.black_28px_f {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
	font-weight: normal;
}
.red_12px_fg{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #C30;
	font-weight: bold;
}
.red_14px_f{
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #c00000;
}
.yellow_12px_f{
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FC0;
}
.yellow_24px_fa{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FC0;
}

.green_12px_fg{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #090;
	font-weight: bold;
}
.orange_12px_f {
	font-family: Verdana, "微软雅黑", Geneva, sans-serif;
	font-size: 12px;
	color: #F60;
}
.green_12px_f {
	font-size: 12px;
	color: #2f953a;
}
.gray_12px_f {
	font-size: 12px;
	color: #000;
}
.gray_12px_fs {
	font-size: 12px;
	color: #767676;
}
.gray_12px_floatr{
	font-size: 12px;
	color: #B5CED0;
	float:right;
}
.green_14px_f {
	font-size: 14px;
	font-weight: bold;
	color: #090;
}
.blue_20px_f {
	font-size: 20px;
	font-weight: bold;
	color: #09C;
}
/*-------------font--style----start--*/

/*---foot-----style---start--*/
.links_left {
	float: left;
	height: 70px;
	width: 30px;
	text-align: center;
	background-color: #e3e3e3;
	color: #2F953A;
	font-weight: bold;
}
#links_inc {

	font-size: 12px;
	line-height: 35px;
	height: 70px;
	width: 900px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
	display: block;
}
#footer {
	line-height: 30px;
	height: 100px;
	width: 100%;
	text-align: center;
	background-color: #F5F5F5;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #e3e3e3;
	border-right-color: #e3e3e3;
	border-bottom-color: #e3e3e3;
	border-left-color: #e3e3e3;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

/*---foot-----style---end--*/
.height_100px {
	height: 100px;
	width: 100%;
}
.page_sytle {
	display: block;
	height: 20px;
	width: 50px;
	border: 1px solid #dbdbdb;
	color: #006691;
	text-align: center;
	float: left;
}
.page_num_style {
	color: #006691;
	text-align: center;
	height: 20px;
	width: 20px;
	display: block;
	float: left;
	border: 1px solid #dbdbdb;
	margin-right: 3px;
	cursor: pointer;
}
.page_current_style {
	text-align: center;
	height: 20px;
	width: 20px;
	display: block;
	float: left;
	font-weight: bold;
	margin-right: 3px;
}
.abso_right {
	line-height: 30px;
	position: absolute;
	height: 30px;
	width: auto;
	right: 20px;
	top: -3px;
}
.abso_right_15pxh {
	line-height: 15px;
	position: absolute;
	height: 15px;
	width: auto;
	right: 10px;
	top: 7px;
}
.select {
	height: 20px;
	border: 1px solid #CCC;
	padding: 0px;
	color: #666;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	line-height: 18px;
	font-size: 12px;
}
.height_20px_content {
	height: 20px;
	width: 100%;
	line-height: 20px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
}
.height_30px_center_bg {
	height: 30px;
	width: 100%;
	line-height: 30px;
	text-align: center;
	border: 1px solid #e3e3e3;
	background-color: #F3F3F3;
}

#link_con {
	font-family: "宋体";
	font-size: 12px;
	color: #999999;
	line-height: 25px;
}
