a:link {
	color: #368000;
}
a:visited {
	color: #368000;
}
a:hover {
	color: #8C0000;
}
a:active {
	color: #8C0000;
}

.title_font{
	color: #2E7A33;
	text-decoration: none;
}
.title_font a{
	color: #2E7A33;
	text-decoration: none;
}
.title_font a:visited{
	color: #2E7A33;
	text-decoration: none;
}

.title_font a:hover{
	color: #8C0000;
}
.title_font a:active {
	color: #8C0000;
}

#loupan_ico {
	position:absolute;
	width:122px;
	height:40px;
	z-index:10;
	left: 19px;
	top: 415px;
	color: #4D8D08;
	line-height: 40px;
	background-image: url(../Images/lou_all_ico.gif);
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}
#hf3d_ico {
	position:absolute;
	width:122px;
	height:40px;
	z-index:10;
	left: 151px;
	top: 415px;
	color: #4D8D08;
	line-height: 40px;
	background-image: url(../Images/3d__ico.gif);
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}
#yfbm_ico {
	position:absolute;
	width:122px;
	height:40px;
	z-index:10;
	left: 283px;
	top: 415px;
	color: #4D8D08;
	line-height: 40px;
	background-image: url(../Images/yanfang_ico.gif);
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}
#ad_button {
	position:absolute;
	width:108px;
	height:40px;
	z-index:5;
	left: 854px;
	top: 367px;
	color: #CCC;
	line-height: 22px;
}

#secy_inc {
	height: 100px;
	width: 80px;
	position: absolute;
	top: 150px;
	right: 10px;
	z-index: 1000006;
}
#secy {
	background-image: url(../Images/xms1.png);
	background-repeat: no-repeat;
	height: 100px;
	width: 80px;
}
#secy_msg_inc{
	height:auto;
	width: 200px;
	position: absolute;
	top: 413px;
	right: 418px;
	z-index: 1000005;
}	
#msg_box_inc{
	height: 160px;
	width: 330px;
	position: absolute;
	top: -251px;
	right: 18px;
	z-index: 1000005;
}	

#msg_box_1 {
	background-image: url(../Images/msgbox_01.png);
	background-repeat: no-repeat;
	float: left;
	height: 40px;
	width: 15px;
}
#msg_box_2 {
	background-image: url(../Images/msgbox_02.png);
	background-repeat: repeat-x;
	float: left;
	height: 40px;
	width: 300px;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 45px;
	font-weight: bold;
	color: #FFF;
	overflow: hidden;
}
#msg_box_3 {
	float: left;
	height: 40px;
	width: 15px;
	background-image: url(../Images/msgbox_03.png);
	background-repeat: no-repeat;
}
#msg_box_4 {
	background-image: url(../Images/msgbox_04.png);
	background-repeat: repeat-y;
	float: left;
	height: 100px;
	width: 15px;
}
#msg_box_5 {
	background-image: url(../Images/msgbox_05.png);
	float: left;
	height: 100px;
	width: 300px;
	background-repeat: repeat-y;
	background-position: right top;
	font-size: 12px;
	color: #18E4F5;
	background-color: #FFF;
}
#msg_box_6 {
	background-image: url(../Images/msgbox_06.png);
	background-repeat: repeat-y;
	float: left;
	height: 100px;
	width: 15px;
}
#msg_box_7 {
	background-image: url(../Images/msgbox_07.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 15px;
}
#msg_box_8 {
	background-image: url(../Images/msgbox_08.png);
	background-repeat: repeat-x;
	float: left;
	height: 16px;
	width: 300px;
}#msg_box_9 {
	background-image: url(../Images/msgbox_09.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 15px;
}
#msg_box_info {
	width: 100%;
}
#msg_box_close {

}
.msg_box_close {
	float: right;
	height: 40px;
	width: 40px;
	background-image: url(../Images/msg_box_close.png);
	cursor: pointer;

}
.msg_box_closem {
	float: right;
	height: 40px;
	width: 40px;
	background-image: url(../Images/msg_box_close_m.png);
	cursor: pointer;
}
.msg_box_closec {
	float: right;
	height: 40px;
	width: 40px;
	background-image: url(../Images/msg_box_close_c.png);
	cursor: pointer;
}
#msg_box_title {
	float: left;
}
#foot {
	height: 120px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(../Images/footer_bg.png);
	background-repeat: repeat-x;
	padding: 0px;
	color: #000;
	margin-top: 0px;
	margin-bottom: 0px;
}
#foot_top {
	height: 120px;
	width: 950px;
	margin-right: 10px;
	margin-left: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	display: block;
}
.foot_nv {
	display: inline-block;
	float: left;
	height: 80px;
	width: 70px;
	margin-left:45px !important;	
	margin-left: 40px;
	margin-top: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
}
#foot_copyright {
	line-height: 25px;
	color: #B9CDA7;
	text-align: center;
	height: 90px;
	width: 100%;
	margin: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
/*----start-----secy msg box----*/
.secy_msg_1 {
	background-image: url(../Images/secy_msg_1.png);
	height: 40px;
	width: 100%;
	background-repeat: no-repeat;
	position: relative;
}
.secy_msg_2 {
	background-image: url(../Images/secy_msg_2.png);
	min-height: 100px!important;
	height:auto;
	width: 100%;
	background-repeat: repeat-y;
	position: relative;
}
.secy_msg_3 {
	background-image: url(../Images/secy_msg_3.png);
	height: 40px;
	width: 100%;
	background-repeat: no-repeat;
	line-height: 40px;
	text-align: center;
	color: #999;
	font-size: 10px;
}
.secy_msg_close {
	height: 40px;
	width: 31px;
	position: absolute;
	top: 0px;
	right: 10px;
	cursor:pointer;
}
.secy_msg_to {
	background-image: url(../Images/secy_msg_to.png);
	background-repeat: no-repeat;
	height: 40px;
	width: 25px;
	position: absolute;
	top: 10px;
	right: -5px;
}
.secy_msg_con_inc {
	min-height: 100px!important;
	height:auto;
	width: 160px;
	margin-left: 17px;
}
.secy_msg_title {
	border: 1px solid #dbe2d2;
	height: 25px;
	width: 100%;
	color: #98BB6C;
	line-height: 25px;
}
.secy_msg_con_bian {
	min-height:25px!important;
	height: auto;
	width: 100%;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dbe2d2;
	border-right-color: #dbe2d2;
	border-bottom-color: #dbe2d2;
	border-left-color: #dbe2d2;
}
.secy_msg_con {
	font-family: Verdana, Geneva, sans-serif;
	line-height: 25px;
	color: #CCC;
	height: 25px;
	width: 100%;
}
.secy_welcome {
	color: #F90;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #efefef;
	border-right-color: #efefef;
	border-bottom-color: #efefef;
	border-left-color: #efefef;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*----end-----secy msg box----*/

/*--start--shortcut_bn------------*/
#shortcut_bn_inc {
	min-height: 200px!important;	
	height: auto;
	width: 30px;
	position: absolute;
	right: -30px;
	bottom: 0px;
	background-color: #9AB918;
}
.shortcut_top {
	color: #FFF;
	height: 60px;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.shortcut_map {
	color: #FFF;
	height: 60px;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: relative;
}
.shortcut_loupan {
	color: #FFF;
	height: 60px;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: relative;
}
.shortcut_bottom {
	color: #FFF;
	height: 60px;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
/*--end--shortcut_bn------------*/.shortcut_hidden {
	background-color: #CCC;
	height: 60px;
	width: 30px;
	position: absolute;
	top: 0px;
	right: -30px;
}

#load_if {
	background-image: url(../../../../../Public/Images/load.gif);
	background-position: center 15px;
	height: 100px;
	width: 960px;
	background-repeat: no-repeat;
}
