#map_include {
	height: 550px;
	width: 960px;
	color: #FFF;
	background-image: url(../Images/map_bg.png);
	background-repeat: repeat-x;
}
#map_title {
	height: 40px;
	width: 960px;
}
#map_top {
	height: 40px;
	width: 960px;
	line-height: 40px;
	background-color: #2A4050;
	background-image: url(../Images/map_top.gif);
	color: #FFF;
	background-repeat: no-repeat;
}
#map_c {
	display: block;
	height: 500px;
	width: 601px;
	float: left;
	border: 0px solid #20313E;
}
#map_content {
	display: inline-block;
	float: left;
	height: 500px;
	width: 336px;
	background-color: #FFF;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #a9c071;
	border-right-color: #a9c071;
	border-bottom-color: #a9c071;
	border-left-color: #a9c071;
}
#map_google {
	height: 495px;
	width: 596px;
	border: 3px solid #FFF;
	position: relative;
	z-index: 1;
}
#map_tag {
	height: 40px;
	width: 100%;
	background-color: #E6F0CA;
}
#map_center {
	height: 500px;
	width: 960px;
	display: block;
}
#map_bottom {
	height: 20px;
	width: 100%;
	background-color: #2A4050;
		background-image: url(../Images/map_bottom.gif);	
}
#map_find {
	width: 70px;
	color: #368000;
}
#map_change {
	color: #809605;
	width: 90px;
}

#map_c_title {
	background-color: #FFF;
	height: 30px;
	width: 300px;
	text-align: center;
	font-size: 14px;
	color: #D6D6D6;
	line-height: 28px;
}
#map_c_page {
	background-color: #FFF;
	height: 30px;
	width: 270px;
	color: #1B2832;
	margin-left: 60px;
	text-align: center;
}
#map_info {
	height: 450px;
	width: 331px;
	overflow: hidden;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.white_font {
	font-size: 12px;
	color: #FFF;
}
.black_font {
	font-size: 12px;
	color: #000;
}
.red_font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #C30;
}

.orange_font_yahei {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #F90;
}
.orange_font_12pxyahei {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #F90;
	font-weight: normal;
}
.page_button {
	background-color: #F0F0F0;
	float: left;
	height: 20px;
	width: 60px;
	border: 1px solid #324D61;
	text-align: center;
	margin-top: 4px;
	margin-left: 4px;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}
.page_num_button {
	background-color: #FFF;
	float: left;
	height: 22px;
	width: 22px;
	border: 1px solid #CCC;
	text-align: center;
	margin-top: 0px;
	margin-left: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: inline-block;
	line-height: 22px;
}
.map_c_li {
	background-color: #FFF;
	height:auto;
	min-height: 80px;!important;
	width: 290px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #E3E3E3;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: block;
}
.map_c_li_d {
	background-color: #F5F5F5;
	height: 100px;
	width: 300px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
}
.blue_font {
	font-size: 12px;
	color: #263948;
	font-weight: normal;
}
.info_tag {
	height: 100px;
	width: 30px;
	background-image: url(../Images/info_tag.gif);
	background-repeat: no-repeat;
}


#map sup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5px;
	line-height: 5px;
}
/*============================地图图标样式,绿,红,蓝三色============================*/

/*---------------地图图标样式1---green------------------*/

.map_marker {
	height: 30px;
	width:auto;
	min-width:100px;
	list-style-type: none;
	display: inline;
	white-space:nowrap;
}

.map_marker .map_marker_left {
	font-family: "宋体", Arial, Helvetica, sans-serif;
	height: 30px;
	width: 18px;
	background-image: url(../Images/marker_left.png);
	background-repeat: no-repeat;
}
.map_marker .map_marker_right {
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	height: 30px;
	width: 30px;
	background-image: url(../Images/marker_right.png);
	background-repeat: no-repeat;	
}
.map_marker .map_marker_center {
	height: 30px;
	width: auto;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	color: #FFF;
	background-image: url(../Images/marker_center.png);
	background-repeat: repeat-x;
}
.map_marker .map_marker_price {
	height: 30px;
	width: 0px;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #FFF;
	overflow: hidden;
	visibility: hidden;
	background-image: url(../Images/marker_center_m.png);
	background-repeat: repeat-x;		
}
/*onmouseover事件*/
.map_marker_m {
	height: 30px;
	width:auto;
	min-width:100px;
	list-style-type: none;
	display: inline;
	white-space:nowrap;
	position: relative;
}
.map_marker_m .map_marker_left {
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	height: 30px;
	width: 18px;
	background-image: url(../Images/marker_left_m.png);
	background-repeat: no-repeat;
}
.map_marker_m .map_marker_center {
	height: 30px;
	width: auto;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #FFF;
	background-image: url(../Images/marker_center_m.png);
	background-repeat: repeat-x;	
}
.map_marker_m .map_marker_right {
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	height: 30px;
	width: 30px;
	background-image: url(../Images/marker_right_m.png);
	background-repeat: no-repeat;	
}
.map_marker_m .map_marker_price {
	background-image: url(../Images/marker_center_m.png);
	background-repeat: repeat-x;		
	height: 30px;
	width: auto;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #FFF;
	overflow: visible;
	visibility: visible;
}
/*---------结束样式1---------------green-----------------*/

/*---------------地图图标样式2---blue------------------*/

.map_marker_blue {
	height: 30px;
	width:auto;
	list-style-type: none;
	display: inline;
	white-space:nowrap;
}

.map_marker_blue .map_marker_left {
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	height: 30px;
	width: 18px;
	background-image: url(../Images/marker_left_blue.png);
	background-repeat: no-repeat;
}
.map_marker_blue .map_marker_right {
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	height: 30px;
	width: 30px;
	background-image: url(../Images/marker_right_blue.png);
	background-repeat: no-repeat;	
}
.map_marker_blue .map_marker_center {
	height: 30px;
	width: auto;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	color: #FFF;
	background-image: url(../Images/marker_center_blue.png);
	background-repeat: repeat-x;
}
.map_marker_blue .map_marker_price {
	height: 30px;
	width: 0px;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #FFF;
	overflow: hidden;
	visibility: hidden;
	background-image: url(../Images/marker_center_blue_m.png);
	background-repeat: repeat-x;		
}
/*onmouseover事件*/
.map_marker_blue_m {
	height: 30px;
	width:auto;
	min-width:100px;
	list-style-type: none;
	display: inline;
	white-space:nowrap;
}
.map_marker_blue_m .map_marker_left {
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	height: 30px;
	width: 18px;
	background-image: url(../Images/marker_left_blue_m.png);
	background-repeat: no-repeat;
}
.map_marker_blue_m .map_marker_center {
	height: 30px;
	width: auto;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #FFF;
	background-image: url(../Images/marker_center_blue_m.png);
	background-repeat: repeat-x;	
}
.map_marker_blue_m .map_marker_right {
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	height: 30px;
	width: 30px;
	background-image: url(../Images/marker_right_blue_m.png);
	background-repeat: no-repeat;	
}
.map_marker_blue_m .map_marker_price {
	background-image: url(../Images/marker_center_blue_m.png);
	background-repeat: repeat-x;		
	height: 30px;
	width: auto;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #FFF;
	overflow: visible;
	visibility: visible;
}
/*---------结束样式2---------------blue-----------------*/


/*---------------地图图标样式3---orange------------------*/

.map_marker_orange {
	height: 30px;
	width:auto;
	min-width:100px;
	list-style-type: none;
	display: inline;
	white-space:nowrap;
}

.map_marker_orange .map_marker_left {
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	height: 30px;
	width: 18px;
	background-image: url(../Images/marker_left_orange.png);
	background-repeat: no-repeat;
}
.map_marker_orange .map_marker_right {
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	height: 30px;
	width: 30px;
	background-image: url(../Images/marker_right_orange.png);
	background-repeat: no-repeat;	
}
.map_marker_orange .map_marker_center {
	height: 30px;
	width: auto;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	color: #FFF;
	background-image: url(../Images/marker_center_orange.png);
	background-repeat: repeat-x;
}
.map_marker_orange .map_marker_price {
	height: 30px;
	width: 0px;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #FFF;
	overflow: hidden;
	visibility: hidden;
	background-image: url(../Images/marker_center_orange_m.png);
	background-repeat: repeat-x;		
}
/*onmouseover事件*/
.map_marker_orange_m {
	height: 30px;
	width:auto;
	min-width:100px;
	list-style-type: none;
	display: inline;
	white-space:nowrap;
}
.map_marker_orange_m .map_marker_left {
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	height: 30px;
	width: 18px;
	background-image: url(../Images/marker_left_orange_m.png);
	background-repeat: no-repeat;
}
.map_marker_orange_m .map_marker_center {
	height: 30px;
	width: auto;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #FFF;
	background-image: url(../Images/marker_center_orange_m.png);
	background-repeat: repeat-x;	
}
.map_marker_orange_m .map_marker_right {
	font-family: "宋体", Arial, Helvetica, sans-serif;	
	height: 30px;
	width: 30px;
	background-image: url(../Images/marker_right_orange_m.png);
	background-repeat: no-repeat;	
}
.map_marker_orange_m .map_marker_price {
	background-image: url(../Images/marker_center_orange_m.png);
	background-repeat: repeat-x;		
	height: 30px;
	width: auto;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #FFF;
	overflow: visible;
	visibility: visible;
}
/*---------结束样式3---------------orange-----------------*/


/*======================end======地图图标样式,绿,红,蓝三色============================*/
#map_head_inc {
	font-family: "微软雅黑";
	height: 60px;
	width: 340px;
	position: absolute;
	z-index: auto;
	left: 624px;
	top: -18px;
	color: #390;
	font-size: 12px;
	line-height: 35px;
	cursor: pointer;
	background-position: right top;
}

#map_head {
	font-family: "微软雅黑";
	background-image: url(../Images/map_head.png);
	background-repeat: no-repeat;
	height: 60px;
	width: 340px;
	color: #390;
	font-size: 12px;
	line-height: 35px;
	cursor: pointer;
}
.map_page_up {
	background-image: url(../Images/page_map.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 22px;
	float: left;
}
.map_page_down {
	background-image: url(../Images/page_map_down.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 22px;
	float: left;
}
#map_bian_top {
	background-image: url(../Images/map_bian_top.gif);
	background-repeat: no-repeat;
	height: 5px;
	width: 650px;
	position: absolute;
	left: 0px;
	top: 0px;
}

/*page-----------------------*/
#map_c_page a {
	float: left;
	height: 22px;
	width: 22px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	list-style-type: none;
	line-height: 22px;
	color: #666;
	font-weight: normal;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#map_ce_page a:visited {
	float: left;
	height: 22px;
	width: 22px;
	background-color: #F7F7F7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	list-style-type: none;
	line-height: 22px;
	color: #666;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#map_c_page a:hover{
	float: left;
	height: 22px;
	width: 22px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	list-style-type: none;
	line-height: 22px;
	color: #000;
	text-decoration: none;
}
#map_c_page a:active {
	float: left;
	height: 22px;
	width: 22px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	list-style-type: none;
	line-height: 22px;
	color: #000;
	text-decoration: none;
}
#map_c_page .current {
	float: left;
	height: 22px;
	width: 22px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	list-style-type: none;
	line-height: 22px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#map_c_page .dis {
	float: left;
	height: 22px;
	width: 22px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	list-style-type: none;
	line-height: 22px;
	font-weight: normal;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#map_c_page .uppage{
	background-image: url(../Images/page_map.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 22px;
	color: #FFF;
}
#map_c_page .downpage{
	background-image: url(../Images/page_map.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 22px;
	color: #FFF;
}
#map_c_page .dis{
	background-image: url(../Images/page_map_dis.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 22px;
	color: #FFF;
}
/*page-----------------------*/
