.container{ margin:20px; }
.container table td{ height:25px; }

.fixwidth{ width:100%; }
.fixwidthdec{ width:680px; }

.memlist{ list-style:none; margin:7px 0 25px; padding-top:2px; border-top:2px solid #B5CFD9; width:80%;}
	.memlist li{ clear:both; overflow:hidden; zoom:1; padding:5px 0; *padding:1px 0 5px; line-height:150%; background:url(bg_repx.gif) repeat-x 0 bottom; }
	.memlist em{ float:left; width:120px; font:12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; }
	.memlist .memcont{ width:480px; }

.readonly { background:#ccc; border:1px solid #d4d4d4; }